.about{
    display: inline;
}

.sobre-sitio{
    font-family: 'Averia Serif Libre', cursive;
    font-weight: bold;
    padding-top: 125px;
    color: white;
    padding-left: 45px;
    font-size: 40px; 
}


.sobre-sitio-parrafo{
    font-family: 'Averia Serif Libre', cursive;
    font-weight: bold;
    color: white; 
    text-align: justify;
    padding-left: 45px; 
    padding-right: 45px;
    font-size: 20px;
}