nav {
    div{
        a{
            font-family: 'Averia Serif Libre', cursive;
            font-weight: bold;
        }
    }

}


ul{
    li{
        a{
            font-family: 'Averia Serif Libre', cursive;
            font-weight: bold;
        }
    }
}

h5{
    font-family: 'Uncial Antiqua', cursive;;
    font-weight: bold;
}